.base 
  .title
    checker
  = link_to root_path  do
    .add_btn
      予定一覧を見る  
.main 
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#{@checktime.plan}&nbsp;&nbsp;&nbsp;&nbsp;#{@checktime.month}月#{@checktime.day}日#{@checktime.hour}時#{@checktime.minute}分
  - necessary_day = @checktime.total_sec / (24*60*60)
  - necessary_hour = (((@checktime.total_sec / (24*60*60).to_f) - (@checktime.total_sec / (24*60*60))) * 24).floor
  - necessary_min = (((((@checktime.total_sec / (24*60*60).to_f) - (@checktime.total_sec / (24*60*60))) * 24) -  (((@checktime.total_sec / (24*60*60).to_f) - (@checktime.total_sec / (24*60*60))) * 24).floor) * 60).floor
  - necessary_sec = (((((((@checktime.total_sec / (24*60*60).to_f) - (@checktime.total_sec / (24*60*60))) * 24) -  (((@checktime.total_sec / (24*60*60).to_f) - (@checktime.total_sec / (24*60*60))) * 24).floor) * 60) - necessary_min) * 60).floor
  .contents
    .contents_bar
      .al_bar
      .start_point
        start
      .space
      .over_point
        timeover
      %input#hidden3{:type => "hidden", :value => "予定の時間が近づいています"}/  
      %input#hidden4{:type => "hidden", :value => "予定の時間を過ぎています"}/  
    .contents_w
      .contents_left
        &nbsp;&nbsp;&nbsp;&nbsp;MEMO
        .memo_box 
          #{@checktime.memo} 
      #contents_right 
  .msg_alarm      
-# = javascript_include_tag 'alarm.js'
-# = javascript_include_tag 'countdown.js'

             

   


     
    