.base
  .title
    checker
  = link_to description_index_path do  
    .use_btn
      使い方を見る     
  .form_box
    = form_for @checktime, url: alarms_path, method: :post do |f|
      .p_msg
        予定を入力してください
      .text_box
        予定
        = f.text_field :plan, maxlength: 14
      .memo_box
        MEMO
        = f.text_area :memo
      .date
        日時#{@ccc}
        #{@c_date}  
        #{@ttt}
        #{@rrr}
      .submit_box
        = f.number_field :month, min: 1, max: 12
        月
        = f.number_field :day, min: 1, max: 31
        日
        = f.number_field :hour, min: 0, max: 23
        時
        = f.number_field :minute, min: 0, max: 59
        分
        = f.submit "スタート", class: 'btn'   
  .plans_title  
    現在の予定  #{Checktime.count}件        
  .plans_base
    - @checktimes.each_with_index do |n, index| 
      .plans{"data-id" => "#{n.id}"}
        .plans_name{:id => "plans_#{index}"}
          = link_to "checktimes/#{n.id}" do
            #{n.plan}
        .plans_time
          #{n.month}月#{n.day}日&nbsp;#{n.hour}:#{n.minute}
          = link_to  "checktimes/#{n.id}/edit" do
            .edit_btn
              この予定を変更
          = link_to "checktimes/#{n.id}", method: :delete, data:{confirm: "削除しますか？"} do
            .remove_btn
              この予定を削除
      .check_msg{:id => "check_msg_#{index}"}        
        %input#hidden1{:type => "hidden", :value => "予定の時間が近づいています"}/ 
        %input#hidden2{:type => "hidden", :value => "予定の時間を過ぎています"}/              
= link_to "ユーザー登録はこちら", new_user_registration_path
= link_to "ログアウト", destroy_user_session_path, method: "delete"
= link_to "ログイン", new_user_session_path



                      